@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body,
.btn,
label,
select,
input,
textarea,
h4,
h5,
h6 {
    font-family: "Roboto", "Arial", "sans-serif";
}

.sec1 {
    background: url("https://images01.nicepage.com/04/c9/04c92f4b1888be1f59c0cf8549526806.jpeg") no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;

    /* display: flex; */
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
    padding: 25px;
}

.mainhead {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    padding-left: 150px;
}

ul {
    display: flex;
}

.container1 {
    box-sizing: border-box;
    font-size: 30px;
    font-weight: 100;
    color: #fff;
    max-width: 70%;
    justify-content: center;
    align-items: center;
}

.container1 span {
    font-size: 70px;
    font-weight: 400;
    color: #fff;
    width: 30%;
}

.container1 p {
    font-weight: 300;
}

.secbox {
    box-sizing: border-box;
    max-width: 50%;
    max-height: 2000px;
    position: relative;
    top: 100px;
    left: 80px;
    /* display: flex;
  justify-content: center;
  align-items: center; */
    /* border: 3px solid red; */
}

span,
p,
button {
    margin: 30px;
}

button {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(135deg, #478ac9, #24d9ea);
    margin: 40px auto 60px 20px;
    padding: 14px 32px 15px;
}

@media screen and (max-width: 900px) {
    ul {
        display: block;
    }

    .container1 span {
        font-size: 40px;
        font-weight: 600;
    }

    li {
        margin-top: 30px;
        padding: 5px;
    }

    .container1 {
        font-size: 15px;
        font-weight: 100;
        color: #fff;
        max-width: 80%;
        justify-content: center;
        align-items: center;
    }

    button {
        font-family: "Montserrat", sans-serif;
        font-size: 10px;
        border-radius: 10px;
        border: none;
        background-image: linear-gradient(135deg, #478ac9, #24d9ea);
        margin: 10px auto 60px 20px;
        padding: 8px 15px 10px;
    }
}

@media (max-width: 800px) and (min-width: 600px) {
    .container1 span {
        font-size: 50px;
        font-weight: 600;
    }

    .container1 {
        font-size: 25px;
        font-weight: 100;
    }

    .secbox {
        height: 40%;
    }
}

#space {
    margin-top: 2px;
    background-color: #e9f2fa;
    /* border: 3px solid red; */
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#space h1 {
    color: #478ac9 !important;
    font-size: 3pc;
    font-weight: 200;
}

#space p {
    color: #4c7397 !important;
    font-size: 1.1pc;
    font-weight: 300;
}

@media screen and (max-width: 900px) {
    #space h1 {
        color: #478ac9 !important;
        font-size: 30px;
        font-weight: 200;
    }

    #space p {
        color: #4c7397 !important;
        font-size: 12px;
        font-weight: 300;
    }
}

.sec2back {
    width: 100%;
    height: 125vh;
    background-color: #e9f2fa;
}

.sec2 {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /* border: 2px solid red; */
    width: 70%;
    height: 120vh;
    overflow: hidden;
}

.boxes {
    margin: auto;
    margin-top: 25px;
}

.boxes img {
    width: 320px;
    height: 298px;
}

.namep {
    padding-top: 10px;
    padding: 15px;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: azure;
}

.namep h4 {
    padding-left: 15px;
}

.secspace {
    width: 100%;
    height: 52vh;
    background-color: #fff;
    /* border: 2px solid red; */
    box-sizing: border-box;
    overflow: hidden;
    margin: 50px;
}

.secspace h2 {
    margin-left: 15%;
}

.boxsec {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow: hidden;
}

.sheading {
    margin-top: 20px;
    box-sizing: border-box;
    width: 60%;
    /* border: 3px solid; */
    display: flex;
    justify-content: space-between;
}

.firstli ul,
.secli ul {
    display: flex;
    flex-direction: column;
}

.secspace a {
    color: rgb(92, 92, 250);
}

.nbox,
h2,
span,
#buinput,
#socialicon {
    padding: 15px;
    /* border: 2px solid; */
}

.nbox h2 {
    margin-bottom: 50px;
}

#buinput {
    display: flex;
}

#buinput input {
    margin-top: 10px;
    height: 35px;
    width: 70%;
    margin-right: 10px;
    padding: 5px;
}

#buinput #nbtn {
    border-radius: 0;
    color: #fff;
    padding: 6px;
    font-size: 15px;
}

span,
p,
button {
    margin: 0;
}

#socialicon i {
    padding: 10px;
}

.nbox {
    height: 45vh;
    box-sizing: ;
}

.beachpic {
    display: flex;
    justify-content: space-around;
    /* border: 2px solid blue; */
    height: 60vh;
    background: url("https://images01.nicepage.com/8d/98/8d98d9f895d45f1a7a10b3f4152d0a2a.jpeg") no-repeat center center/cover;
}

.beachpic #box {
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 40%;
    height: 40%;
    margin: 170px 0 0 200px;
    font-size: large;
}

.beachpic #box h1,
p,
a {
    padding: 15px;
    line-height: 2.2rem;
}

.beachpic #box button {
    float: right;
    /* margin-left: 100px; */
    background: none;
    border-radius: 0;
    color: #fff;
    border: 2px solid rgb(250, 250, 250);
}

.sec2back2 {
    display: flex;
    background-color: #e9f2fa;
    /* flex-wrap: wrap; */
}

.boxes2 {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.boxA,
.boxA img {
    width: 300px;
    margin: 20px;
}

#fstbox {
    background: url("https://images01.nicepage.com/63/51/6351493a20e107bdcedcceec726ee963.jpeg");
}

#secn2dbox {
    background: url("https://images01.nicepage.com/b4/11/b41165f4eeb68cd6cdbb88a1048f82a7.jpeg");
}

.se2dbox {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}

.se2dbox i,
h4,
p {
    padding: 10px;
}

.firstDheader {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 32vh;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background: black;
    color: #fff;
}

.secdheader {
    display: flex;
    background-color: #333333;
    color: #fff;
    justify-content: center;
    padding: 20px;
}

.secdheader a {
    color: blue;
    padding: 0;
    margin: 0;
}

.secdheader span {
    padding: 6px;
    margin: 0;
    /* padding-top: 6px; */
}